<!DOCTYPE html>
<html lang="en">
<head div="container">Hello data
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<form action="" method="post">

<input type="id" name="id" placeholder="enter id"><br>

<input type="text" name="name" placeholder="enter name"><br>

<input type="text" name="sur_name" placeholder="enter sur_name"><br>

<input type="text" name="mobile" placeholder="enter mobile number"><br>

<input type="email" name="email" placeholder="enter email"><br>

<input type="text" name="branch" placeholder="enter Branch"><br>

<input type="text" name="role" placeholder="enter role"><br>

<input type="submit" value="send">
<input type="cancel" ><a href="{{url_for('showData')}}">Cancel</a></button></form>

</body>
</html>